.number{
    text-align: center;
    font-family: "Candara Light", serif;
    font-size: 18pt;
}
.pizza{
    text-align: left;
    font-family: "Candara Light", serif;
    font-size: 16pt;
    font-weight: bold;
}
table.price-list th,table.price-list td {
    padding: 5px;
    border-bottom:black thin ridge  ;
}
.picture{
    width: 40%;
    font-size: 18pt;
    text-align: center;

}
.pictureTable{
    text-align: center;
    width: 30%;
}
