p {
    font-size: 14pt;
}

.picture img {
    width: 25%;
}


header {
    text-align: center;
    font-size: 32pt;
    font-family: Italic, serif;
    font-weight: bolder;
    color: #6f42c1;
}

main {
    text-align: justify;

}

footer {
    text-align: right;
}
.bigger {
    font-size: 40pt;
}
table.priceList th, table.priceList td {
    border: grey thin solid;
    padding: 4px;
    text-align: left;
    width: 170px;
}
